body {
    background-image: url("pic.webp");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;


}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
    color:#10439F;
    display: inline-block;
    
}

h2 {
    font-size: 50px;
    margin-top: 0;
    padding-left: 1%;
    
    margin-bottom: 20px;
    color:#10439F
}
p{
    color:#10439F
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #E65C19;
}

#reset-btn{
    background: #E65C19;
    float: right;
    width: 50px;
    margin-right: 10px; 
    margin-top: 10px;
    
}

#save-btn {
    background: #294B29;
}

.image_wrapper {
    position: relative;
   
  }
  
  #workout-image {
    width: 100%; /* Adjust the width as a percentage of its container */
    max-width: 400px; /* Set a maximum width to prevent stretching */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image is displayed as a block element */
    
    margin: 1px auto; /* Center the image with some margin */
}

#box{
    border: 2px solid #B5C0D0;
    background-color: #CCD3CA;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 20px;

}